html,
body {
    height: 100%;
}

.el-tooltip__trigger:focus-visible {
    outline: unset;
}

/*或者是下面这个*/

.el-tooltip__trigger:first-child:focus-visible {
    outline: unset;
}

.el-dropdown {
    vertical-align: middle;
}

:root {
    --el-border-radius-base: 2px;
    --el-dialog-padding-primary: 0;
    --el-menu-base-level-padding: 18px;
    --el-menu-item-height: 44px;
    --el-menu-sub-item-height: 44px;
    --el-base-padding: 8px;
    --el-base-margin: 8px;
    --el-dialog-title-font-size: 16px;
    --el-dialog-title-font-weight: 600;
    --el-body-padding: 24px;
    --el-body-half-padding: 12px;
    --el-menu-horizontal-height: 44px;

    /* 主题颜色 */
    --el-color-primary: #3366FF;
    --el-color-primary-light-3: #3366FF;
    --el-color-primary-light-5: #6690FF;
    --el-color-primary-light-7: #84A9FF;
    --el-color-primary-light-8: #ADC8FF;
    --el-color-primary-light-9: #D6E4FF;

    --el-color-success: #29B14B;
    --el-color-success-light-3: #29B14B;
    --el-color-success-light-5: #39CE50;
    --el-color-success-light-7: #67E16E;
    --el-color-success-light-8: #8BF088;
    --el-color-success-light-9: #BAFAB1;

    --el-color-warning: #FFB50A;
    --el-color-warning-light-3: #FFB50A;
    --el-color-warning-light-5: #FFCD47;
    --el-color-warning-light-7: #FFDB6C;
    --el-color-warning-light-8: #FFEA9C;
    --el-color-warning-light-9: #FFF6CE;

    --el-color-danger: #FF4235;
    --el-color-danger-light-3: #FF4235;
    --el-color-danger-light-5: #FF7D67;
    --el-color-danger-light-7: #FFA185;
    --el-color-danger-light-8: #FFC7AE;
    --el-color-danger-light-9: #FDE2CF;

    --el-color-info: #3FD5FF;
    --el-color-info-light-3: #3FD5FF;
    --el-color-info-light-5: #6FEAFF;
    --el-color-info-light-7: #8BF6FF;
    --el-color-info-light-8: #B2FFFE;
    --el-color-info-light-9: #D8FFFC;
}

.el-notification {
    border-radius: var(--el-border-radius-base);
    /* 调整为你需要的圆角值 */
}

/* 弹窗 */
.el-dialog {
    padding: 0px;
}

.el-dialog__title {
    font-size: var(--el-dialog-title-font-size);
    font-weight: var(--el-dialog-title-font-weight);
    color: var(--el-color-primary);
    margin-left: var(--el-base-margin);
}

.el-dialog__header {
    border-bottom: 1px solid #d9d9d9;
    padding: var(--el-base-padding);
}

.el-dialog__body {
    padding: var(--el-body-padding) var(--el-body-padding) var(--el-body-half-padding) var(--el-body-padding);
}

.el-dialog__footer {
    padding-top: 0px;
}

.dialog-footer {
    border-top: 1px solid #d9d9d9;
    padding: var(--el-base-padding);

}

.el-message-box {
    border-radius: var(--el-border-radius-base);
}

.el-drawer__header {
    padding: var(--el-base-padding);
    margin-bottom: 0px;
}

.el-drawer__body .actions {
    padding: 0 var(--el-base-padding);
    display: flex;
    justify-content: flex-end;
}

.el-drawer__body .body {
    padding: var(--el-body-padding) var(--el-body-padding) var(--el-body-half-padding) var(--el-body-padding);
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

/* 菜单 */
/* .el-menu-item.is-active {
    background-color: var(--el-color-primary-light-7);
} */

.el-menu--horizontal.el-menu {
    border-bottom: none;
}

/* switch */
.el-switch__core {
    border-radius: var(--el-border-radius-base) !important;
}

.el-switch__action {
    border-radius: var(--el-border-radius-base) !important;
}

.el-tag {
    border-radius: var(--el-border-radius-base);
}